body{
    background-color:#F8EDED;
    margin-left: 10%;
    margin-right: 10%;
}



.header{
    text-align: left;
}

.header a{
    text-decoration: none;
}






.title {
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #173B45;
}




#projects-list-section{
    margin-left: 10%;
}

#projects-list-section a{
    text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #173B45;
    /* margin-right: 10%; */
}

.project-name{
    font-size: 1.7em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #B43F3F;
}

.project-links{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #A0153E;
}
